<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
                <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
                <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
                <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
                <a href="/ruleName/list">Rule</a>
            </div>
        </div>
    </nav>
    <div class="col-6 text-right">
        Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <form th:action="@{/app-logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>


<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
<div class="card">
    <div class="card-header"><h2>Bid List</h2></div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- TODO: Show all Bids to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="bid : ${bidLists}">
                <td style="width: 10%" th:text="${bid.BidListId}"></td>
                <td th:text="${bid.account}"></td>
                <td th:text="${bid.type}"></td>
                <td style="width: 25%" th:text="${bid.bidQuantity}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/bidList/update/{id}(id=${bid.BidListId})}">Edit</a>
                    <a onclick="javascript:return confirm('etes vous sure ?')" th:href="@{/bidList/delete/{id}(id=${bid.BidListId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</div>
</div>
</body>
</html>