<!DOCTYPE html>
<html    xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

         layout:decorate="layout.html">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="container">

    <div class="col-6 text-right">
        Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
        <form th:action="@{/app-logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>


<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
<div class="card">
    <div class="card-header"><h2>Bid List</h2></div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <!-- TODO: Show all Bids to the table, the Action column will have Edit & Delete buttons -->
            <tr th:each="bid : ${bidLists}">
                <td style="width: 10%" th:text="${bid.BidListId}"></td>
                <td th:text="${bid.account}"></td>
                <td th:text="${bid.type}"></td>
                <td style="width: 25%" th:text="${bid.bidQuantity}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/bidList/update/{id}(id=${bid.BidListId})}">Edit</a>
                    <a onclick="javascript:return confirm('etes vous sure ?')" th:href="@{/bidList/delete/{id}(id=${bid.BidListId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

</div>
</div>

</body>
</html>